.App {
  font-family: sans-serif;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.title {
  padding-right: 30px;
}

.flex-container > button {
  height: 40px;
  top: 20px;
}

.more-details {
  margin-top: 30px;
}
